* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: hsl(0, 0%, 70%);
    font: 1.2em/1.2 monospace;
    background-color: hsl(0, 0%, 15%);
}

pb-container {
    height: 200px;
    margin: 25px;
    border: 5px solid hsl(33, 100%, 50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

pb-container > * {
    border: 5px solid hsl(200, 100%, 50%);
    height: 50px;
}

.pb\.container {


    display: grid;

    /* sizing (shorthand="grid-template") */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo search menus";
        
    /* gutters (shorthand="grid-gap") */
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    
    /* item align */
    justify-items: stretch; /* <---> */
    align-items: stretch;   /* ^---v */

    /* content align */
    justify-content: start; /* <---> */
    align-content: start;   /* ^---v */

    /* implicit grid tracks */
    /*grid-auto-rows:;*/
    /*grid-auto-columns:;*/

    /* auto-placement algorithm */
    /*grid-auto-flow: row;*/
}

.pb\.item {
    

    /* column positioning (shortcut="grid-column") */
    /*grid-column-start:;*/
    /*grid-column-end:;*/
    
    /* row positioning (shortcut="grid-row") */
    /*grid-row-start:;*/
    /*grid-row-end:;*/

    /* item align */
    /*justify-self: stretch; <--->*/
    /*align-self: stretch;  ^---v */
}